CT_CONFIG_VERSION="4"
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a53+crc+simd"
CT_ARCH_64=y
CT_TARGET_VENDOR="rpi3"
CT_KERNEL_LINUX=y
CT_LINUX_V_5_8=y
CT_BINUTILS_V_2_31=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_BINUTILS_FOR_TARGET=y
CT_GLIBC_V_2_28=y
CT_GLIBC_EXTRA_CFLAGS=""
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--enable-multiarch"
CT_CC_GCC_LIBGOMP=y
CT_CC_GCC_LIBQUADMATH=y
CT_CC_GCC_LIBSANITIZER=y
CT_CC_LANG_CXX=y
CT_CC_LANG_FORTRAN=y
CT_DEBUG_GDB=y
CT_GDB_V_10=y
CT_GETTEXT_V_0_20_1=y
CT_ISL_V_0_22=y
CT_COMP_LIBS_LIBELF=y
CT_MPC_V_1_1=y
CT_MPFR_V_4_0=y
CT_COMP_TOOLS_AUTOMAKE=y
CT_COMP_TOOLS_MAKE=y
CT_MAKE_GNUMAKE_SYMLINK=y
