CT_CONFIG_VERSION="4"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_ARM=y
CT_ARCH_TUNE="cortex-m33"
CT_ARCH_ARM_MODE_THUMB=y
# CT_ARCH_USE_MMU is not set
CT_ARCH_ARCH="armv8-m.main+fp+dsp"
CT_ARCH_FLOAT_SOFTFP=y
CT_TOOLCHAIN_PKGVERSION="tttapa/docker-arm-cross-toolchain:arm-pico2"
CT_TOOLCHAIN_BUGURL="https://github.com/tttapa/docker-arm-cross-toolchain"
CT_TARGET_VENDOR="pico2"
CT_TARGET_ALIAS="pico2"
CT_LIBC_NEWLIB_IO_C99FMT=y
CT_LIBC_NEWLIB_IO_LL=y
CT_LIBC_NEWLIB_IO_FLOAT=y
# CT_LIBC_NEWLIB_FVWRITE_IN_STREAMIO is not set
# CT_LIBC_NEWLIB_UNBUF_STREAM_OPT is not set
# CT_LIBC_NEWLIB_FSEEK_OPTIMIZATION is not set
CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
CT_LIBC_NEWLIB_REGISTER_FINI=y
# CT_LIBC_NEWLIB_ATEXIT_DYNAMIC_ALLOC is not set
CT_LIBC_NEWLIB_RETARGETABLE_LOCKING=y
# CT_LIBC_NEWLIB_WIDE_ORIENT is not set
CT_LIBC_NEWLIB_EXTRA_CONFIG_ARRAY="--disable-nls --enable-newlib-reent-check-verify"
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--enable-libstdcxx-backtrace=yes"
# CT_CC_GCC_CONFIG_TLS is not set
CT_CC_GCC_LTO_ZSTD=y
CT_CC_GCC_DISABLE_PCH=y
CT_CC_GCC_DEC_FLOATS_NO=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
# CT_GDB_CROSS is not set
CT_COMP_LIBS_NEWLIB_NANO=y
CT_NEWLIB_NANO_GCC_LIBSTDCXX_TARGET_CXXFLAGS=""
CT_LIBC_NEWLIB_NANO_IO_C99FMT=y
CT_LIBC_NEWLIB_NANO_IO_LL=y
CT_LIBC_NEWLIB_NANO_IO_FLOAT=y
# CT_LIBC_NEWLIB_NANO_FVWRITE_IN_STREAMIO is not set
CT_LIBC_NEWLIB_NANO_DISABLE_SUPPLIED_SYSCALLS=y
# CT_LIBC_NEWLIB_NANO_ATEXIT_DYNAMIC_ALLOC is not set
CT_LIBC_NEWLIB_NANO_RETARGETABLE_LOCKING=y
CT_LIBC_NEWLIB_NANO_EXTRA_CONFIG_ARRAY="--disable-nls"
# CT_COMP_TOOLS_AUTOCONF is not set
# CT_COMP_TOOLS_AUTOMAKE is not set
