CT_CONFIG_VERSION="4"
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_ARM=y
CT_ARCH_CPU="arm1176jzf-s"
CT_ARCH_SUFFIX="v6"
CT_ARCH_FPU="vfp"
CT_ARCH_FLOAT_HW=y
CT_TOOLCHAIN_PKGVERSION="tttapa/docker-arm-cross-toolchain:armv6-rpi"
CT_TOOLCHAIN_BUGURL="https://github.com/tttapa/docker-arm-cross-toolchain"
CT_TARGET_VENDOR="rpi"
CT_KERNEL_LINUX=y
CT_LINUX_V_4_19=y
CT_BINUTILS_V_2_40=y
# CT_KERNEL_LINUX_INSTALL_CHECK is not set
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_BINUTILS_FOR_TARGET=y
CT_GLIBC_V_2_27=y
CT_GLIBC_EXTRA_CFLAGS=""
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--enable-multiarch"
CT_CC_GCC_LIBGOMP=y
CT_CC_GCC_LIBQUADMATH=y
CT_CC_GCC_LIBSANITIZER=y
CT_CC_LANG_CXX=y
CT_CC_LANG_FORTRAN=y
CT_DEBUG_GDB=y
CT_GDB_CROSS_PYTHON_BINARY="python3"
CT_GDB_NATIVE_STATIC_LIBSTDCXX=y
